html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono' , monospace;
}

i:hover {
	cursor: pointer;
}

i {
	color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgb(0,0,0);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: white;
    font-size: small;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.loading-content {
    background-color: rgb(0,0,0);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    color: white;
    text-align: center;
}

.loading-content h2 {
    color: #FF0A0A;
}

.loading-content a {
    color: #870058;
}

.loading-content hr {
    width:50%;
    margin: 0 auto;
}

.loading-explain {
    margin-top: 35px;
    margin-bottom: 35px;
}

#loading {
    display: block;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.dots span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.dots span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.dots span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

.melodyPrepClass {
    display: none;
    color: #FF0A0A;
}

.melodyPrepClassActive {
    display: inline;
    color: #FF0A0A;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 10px;
}

.col2 {
    float: left;
    width: 40%;
    padding: 10px;
} 

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 20px;
}

body.waiting {
    cursor: wait;
}

.centerModal {
    display: flex;
    justify-content: center
}

